<p-growl [value]="msgs"  life=6000 ></p-growl>

<form class="form-horizontal" (ngSubmit)="onSubmit()" >
<fieldset>

<!-- Form Name -->
<legend>Cadastro de Itens de Fluxo de Caixa</legend>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Tipo de Fluxo</label>
  <div class="col-md-6">
    <select [(ngModel)]="tipo.indEntrada" name="indEntrada" id="selectbasic" class="form-control" required>
      <option value="true">Entrada</option>
      <option value="false">Saida</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Nome do Fluxo</label>  
  <div class="col-md-6">
  <input [(ngModel)]="tipo.nome" id="textinput" name="nome" type="text" placeholder="Pag. Luz, Pag. Agua,  Gasto Limpeza .." class="form-control input-md" required="">
    
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="button1id"></label>
  <div class="col-md-8">
    <button id="button1id" name="button1id" class="btn btn-success">Cadastrar</button>
    <button type="reset" id="button2id" name="button2id" class="btn btn-danger">Limpar Campos</button>
  </div>
</div>

</fieldset>
</form>
