<div class="col-md-12">
    <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon1">Filtro</span>
        <input [(ngModel)]="filtro" type="text" class="form-control" placeholder="Pesquisar..." aria-describedby="sizing-addon1">
    </div>
</div>
<div class="col-lg-3 col-sm-6" *ngFor="let funcionario of getFunconarios()">

    <div class="card">
        <div class="card__header">

        </div>
        <div class="card__avatar">
            <img class="card__avatar__img" alt="" [src]="funcionario.foto">
        </div>
        <div class="card__info">
            <div class="card__info__title">
                <a [routerLink]="['/detalhe-funcionario', funcionario.id]">{{funcionario.nome}}</a>
            </div>
            <div class="card__info__detalhes">{{funcionario.email}}</div>
            <div class="card__info__detalhes">{{funcionario.telefone}}</div>
        </div>
    </div>
</div>
