<p-growl [value]="msgs" life=6000></p-growl>
<div class="panel panel-default">
  <div class="panel-heading">Lista de Modalidades</div>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>A&#231;&#227;o</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tipo of getTiposFluxo()">
        <td>{{tipo.nome}}</td>
        <td *ngIf="tipo.indEntrada" >Entrada</td>
        <td *ngIf="!tipo.indEntrada" >Saida</td>
        <td><button class="btn btn-primary" [routerLink]="['/cadastro-tipo-fluxo-caixa', tipo.id]" >Manuten&#231;&#227;o Tipo Flxuo</button>
        <button class="btn btn-danger" (click)="deletar(tipo)" >Excluir Tipo Fluxo</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>