@import 'functions';

.card {
  padding-top: 20px;
  margin: 10px 0 20px;
  background-color: rgba(214, 224, 226, 0.2);
  border-top-width: 0;
  border-bottom-width: 2px;
  position: relative;
  overflow: hidden;
  text-align: center;
  @include border-radius(3px);
  @include box-shadow(none);
  @include box-sizing(border-box);

  &__header {
    background: url("http://lorempixel.com/850/280/nature/4/");
    background-size: cover;
    height: 135px;
  }

  &__avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;

    &__img {
      width: 100px;
      height: 100px;
      max-width: 100px;
      max-height: 100px;
      @include border-radius(50%);
      border: 5px solid rgba(255,255,255,0.5);
    }
  }

  &__info {
    padding: 4px 8px 10px;

    &__titulo {
      margin-bottom: 4px;
      font-size: 24px;
      line-height: 1;
      color: #262626;
      vertical-align: middle;
    }

    &__detalhes {
      // overflow: hidden;
      font-size: 14px;
      line-height: 20px;
      color: #737373;
      // text-overflow: ellipsis;
      text-align: center
    }
  }
}