@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}


@mixin box-shadow($valor){
  -webkit-box-shadow: $valor;
  -moz-box-shadow: $valor;
  -ms-box-shadow: $valor;
  box-shadow: $valor;
}

@mixin box-sizing($valor)
{
  -webkit-box-sizing: $valor;
  -moz-box-sizing: $valor;
  box-sizing: $valor;
}