<form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Data Inicio</label>
    <p-calendar [(ngModel)]="dataInicio" [maxDate]="dataFim" name="dataInicio" dateFormat="dd/mm/yy" readonlyInput="readonlyInput">></p-calendar>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Data Fim</label>
    <p-calendar [(ngModel)]="dataFim" [minDate]="dataInicio" name="dataFim" dateFormat="dd/mm/yy" readonlyInput="readonlyInput">></p-calendar>
  </div>
  <button (click)="pesquisar()" class="btn btn-default">Pesquisar</button>
</form>

<div class="page-header">
    <h4>Saldo No Periodo <small> {{getSaldoPeriodo() | currency:'BRL':true}} </small></h4>
  </div>

<div class="container col-md-6">

  <div class="page-header">
    <h2><small> Entradas </small><h4><small>{{getSaldoEntradas() | currency:'BRL':true  }}</small></h4></h2>
  </div>

  <div class="timeline">

    <div class="line text-muted"></div>

    <div *ngFor="let entrada of entradas">

      <div class="separator ">

      </div>

      <article class="panel panel-consolidado" [ngClass]="{'panel-success': true }">
        <div class="panel-heading icon" (click)="entrada.mostrarDetalhe = !entrada.mostrarDetalhe">
          <i class="glyphicon" [ngClass]="{'glyphicon-plus': !entrada.mostrarDetalhe, 'glyphicon-minus' : entrada.mostrarDetalhe }"></i>
        </div>
        <div class="panel-heading">
          <h2 class="panel-title">{{entrada.nome}}</h2>
        </div>
        <ul class="list-group">
          <li class="list-group-item">{{entrada.valor | currency:'BRL':true}}</li>
          <li *ngIf="!entrada.mostrarDetalhe" class="list-group-item">{{entrada.quantidade}} Lancamentos </li>
          <li class="list-group-item" *ngFor="let lancamento of getDetalhe(entrada)">{{lancamento.data | date: 'dd/MM/yyyy'}}  ||  {{lancamento.valor | currency:'BRL':true}}  ||  {{lancamento.descricao}} </li> 
        </ul>
      </article>
    </div>

  </div>
</div>




<div class="container col-md-6">

  <div class="page-header">
    <h2><small> Saidas </small><h4><small>{{getSaldoSaidas() | currency:'BRL':true  }}</small></h4></h2>
  </div>

  <div class="timeline">

    <div class="line text-muted"></div>

    <div *ngFor="let saida of saidas">
      <div class="separator ">
      </div>
      <article class="panel panel-consolidado" [ngClass]="{'panel-danger': true }">
        <div class="panel-heading icon" (click)="saida.mostrarDetalhe = !saida.mostrarDetalhe">
          <i class="glyphicon" [ngClass]="{'glyphicon-plus': !saida.mostrarDetalhe, 'glyphicon-minus' : saida.mostrarDetalhe }"></i>
        </div>
        <div class="panel-heading">
          <h2 class="panel-title">{{saida.nome}}</h2>
        </div>
        <ul class="list-group">
          <li class="list-group-item">{{saida.valor | currency:'BRL':true}}</li>
          <li *ngIf="!saida.mostrarDetalhe"  class="list-group-item">{{saida.quantidade}} Lancamentos </li>
          <li class="list-group-item" *ngFor="let lancamento of getDetalhe(saida)">{{lancamento.data | date: 'dd/MM/yyyy'}}  ||  {{lancamento.valor | currency:'BRL':true}}  ||  {{lancamento.descricao}} </li>
        </ul>
      </article>
    </div>
  </div>
</div>