<p-growl [value]="msgs"  life=6000 ></p-growl>
<!-- Modal -->



<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">{{nomeDetalhe}} {{valorDetalhe | currency:'BRL':true}} </h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
            <th>Data</th>
            <th>Valor</th>
            <th>Quantidade</th>
            <th>Descricao</th>
            <th>Observacao</th>
            <th>Alterar</th>
            <th>Apagar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of getDetalhe()" >
              <td>{{item.data | date: 'dd/MM/yyyy'}}</td>
              <td>{{item.valor | currency:'BRL':true}}</td>
              <td>{{item.quantidade}}</td>
              <td>{{item.descricao}}</td>
              <td>{{item.observacao}}</td>
              <td><button class="btn btn-default" data-dismiss="modal" [routerLink]="['/lancamento-movimentacao-caixa', item.id]">Editar</button></td>
              <td><button class="btn btn-danger" data-dismiss="modal" (click)="apagar(item.id)">Apagar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Data Inicio</label>
    <p-calendar [(ngModel)]="dataInicio" [maxDate]="dataFim" name="dataInicio" dateFormat="dd/mm/yy" readonlyInput="readonlyInput"></p-calendar>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Data Fim</label>
    <p-calendar [(ngModel)]="dataFim" [minDate]="dataInicio" name="dataFim" dateFormat="dd/mm/yy" readonlyInput="readonlyInput"></p-calendar>
  </div>
  <button (click)="pesquisar()" class="btn btn-default">Pesquisar</button>
</form>

<div class="page-header">
    <h4>Saldo No Periodo <small> {{getSaldoPeriodo() | currency:'BRL':true}} </small></h4>
  </div>

<div class="container col-md-6">

  <div class="page-header">
    <h2><small> Entradas </small><h4><small>{{getSaldoEntradas() | currency:'BRL':true  }}</small></h4></h2>
  </div>

  <div class="timeline">

    <div class="line text-muted"></div>

    <div *ngFor="let entrada of entradas">

      <div class="separator ">

      </div>

      <article class="panel panel-consolidado panel-success">
        <div class="panel-heading icon" (click)="setDetalhe(entrada)" data-toggle="modal" data-target="#myModal">
          <i class="glyphicon glyphicon-plus" ></i>
        </div>
        <div class="panel-heading">
          <h2 class="panel-title">{{entrada.nomeTipoLancamento}}</h2>
        </div>
        <ul class="list-group">
          <li class="list-group-item">{{entrada.valor | currency:'BRL':true}}</li>
          <li class="list-group-item">{{entrada.qtdLancamentos}} Lancamentos </li>
        </ul>
      </article>
    </div>

  </div>
</div>




<div class="container col-md-6">

  <div class="page-header">
    <h2><small> Saidas </small><h4><small>{{getSaldoSaidas() | currency:'BRL':true  }}</small></h4></h2>
  </div>

  <div class="timeline">

    <div class="line text-muted"></div>

    <div *ngFor="let saida of saidas">
      <div class="separator ">
      </div>
      <article class="panel panel-consolidado panel-danger">
        <div class="panel-heading icon" (click)="setDetalhe(saida)" data-toggle="modal" data-target="#myModal">
          <i class="glyphicon glyphicon-plus"></i>
        </div>
        <div class="panel-heading">
          <h2 class="panel-title">{{saida.nomeTipoLancamento}}</h2>
        </div>
        <ul class="list-group">
          <li class="list-group-item">{{saida.valor | currency:'BRL':true}}</li>
          <li class="list-group-item">{{saida.qtdLancamentos}} Lancamentos </li>
        </ul>
      </article>
    </div>
  </div>
</div>