<form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Data Inicio</label>
    <p-calendar [(ngModel)]="dataInicio" [maxDate]="dataFim" name="dataInicio" dateFormat="dd/mm/yy" readonlyInput="readonlyInput">></p-calendar>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Data Fim</label>
    <p-calendar [(ngModel)]="dataFim" [minDate]="dataInicio" name="dataFim" dateFormat="dd/mm/yy" readonlyInput="readonlyInput">></p-calendar>
  </div>
  <button (click)="pesquisar()" class="btn btn-default">Pesquisar</button>
</form>

<div class="page-header">
    <h4>Saldo No Periodo <small> {{getSaldoPeriodo() | currency:'BRL':true}} </small></h4>
  </div>

<div class="container col-md-6">

  <div class="page-header">
    <h2><small> Entradas </small></h2>
  </div>

  <div class="timeline">

    <div class="line text-muted"></div>

    <div *ngFor="let entrada of entradas">

      <div class="separator ">

      </div>

      <article class="panel panel-consolidado" [ngClass]="{'panel-success': true }">
        <div class="panel-heading icon" (click)="entrada.mostrarDetalhe = !entrada.mostrarDetalhe">
          <i class="glyphicon" [ngClass]="{'glyphicon-plus': !entrada.mostrarDetalhe, 'glyphicon-minus' : entrada.mostrarDetalhe }"></i>
        </div>
        <div class="panel-heading">
          <h2 class="panel-title">{{entrada.nome}}</h2>
        </div>
        <ul class="list-group">
          <li class="list-group-item">{{entrada.valor | currency:'BRL':true}}</li>
          <li class="list-group-item">{{entrada.quantidade}} Lancamentos </li>
        </ul>
      </article>

      <!--Subitens-->

      <div *ngFor="let dia of getDetalhe(entrada)">

        <div class="separator-detalhe">
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{dia.data}}</small></p>
          <p><i class="glyphicon glyphicon-info-sign"></i> Saldo Do Dia {{dia.valor | currency:'BRL':true}}</p>
        </div>

        <article class="panel panel-detalhe" [ngClass]="{'panel-info':true}" *ngFor="let fluxo of dia.fluxos">
          <div class="panel-heading">
            <h2 class="panel-title">{{fluxo.tipoFluxo.nome}}</h2>
          </div>
          <ul class="list-group">
            <li class="list-group-item">{{fluxo.valor | currency:'BRL':true}}</li>
            <li class="list-group-item">{{fluxo.descricao}} </li>
          </ul>
        </article>
      </div>



      <!--Fim subitens-->


    </div>

  </div>
  <!--timeline-->
</div>




<div class="container col-md-6">

  <div class="page-header">
    <h2><small> Saidas </small></h2>
  </div>

  <div class="timeline">

    <div class="line text-muted"></div>

    <div *ngFor="let saida of saidas">

      <div class="separator ">

      </div>

      <article class="panel panel-consolidado" [ngClass]="{'panel-danger': true }">
        <div class="panel-heading icon" (click)="saida.mostrarDetalhe = !saida.mostrarDetalhe">
          <i class="glyphicon" [ngClass]="{'glyphicon-plus': !saida.mostrarDetalhe, 'glyphicon-minus' : saida.mostrarDetalhe }"></i>
        </div>
        <div class="panel-heading">
          <h2 class="panel-title">{{saida.nome}}</h2>
        </div>
        <ul class="list-group">
          <li class="list-group-item">{{saida.valor | currency:'BRL':true}}</li>
          <li class="list-group-item">{{saida.quantidade}} Lancamentos </li>
        </ul>
      </article>

      <!--Subitens-->

      <div *ngFor="let dia of getDetalhe(saida)">

        <div class="separator-detalhe">
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{dia.data}}</small></p>
          <p><i class="glyphicon glyphicon-info-sign"></i> Saldo Do Dia {{dia.valor | currency:'BRL':true}}</p>
        </div>

        <article class="panel panel-detalhe" [ngClass]="{'panel-info':true}" *ngFor="let fluxo of dia.fluxos">
          <div class="panel-heading">
            <h2 class="panel-title">{{fluxo.tipoFluxo.nome}}</h2>
          </div>
          <ul class="list-group">
            <li class="list-group-item">{{fluxo.valor | currency:'BRL':true}}</li>
            <li class="list-group-item">{{fluxo.descricao}} </li>
          </ul>
        </article>
      </div>



      <!--Fim subitens-->


    </div>

  </div>
  <!--timeline-->
</div>


<!--<div class="col-md-6"  >

  <div class="panel panel-success" *ngIf="mostrarGraficoEntrada">
    <div class="panel-heading">Entradas</div>
    <div class="panel-body">
      <canvas baseChart 
             [data]="getDadosGraficoEntrada()" 
             [labels]="getLabelsGraficoEntrada()" 
             [colors]="colors"
             [chartType]="type"
      >
      </canvas>
    </div>
  </div>


<div class="panel panel-success" *ngIf="mostrarGraficoSaida">
    <div class="panel-heading">Saidas</div>
    <div class="panel-body">
      <canvas baseChart 
             [data]="getDadosGraficoSaida()" 
             [labels]="getLabelsGraficoSaida()" 
             [colors]="colors"
             [chartType]="type"
      >
      </canvas>
    </div>
  </div>


</div>-->