<div class="col-lg-3 col-sm-6" *ngFor="let aluno of getAlunos()">

    <div class="card">
        <div class="card__header">

        </div>
        <div class="card__avatar">
            <img class="card__avatar__img" alt="" [src]="aluno.foto">
        </div>
        <div class="card__info">
            <div class="card__info__title">
                <a [routerLink]="['/detalhe-aluno', aluno.id]">{{aluno.nome}}</a>
            </div>
            <div class="card__info__detalhes">{{aluno.email}}</div>
            <div class="card__info__detalhes">{{aluno.telefone}}</div>
        </div>
    </div>
</div>


