<p-growl [value]="msgs"  life=6000 ></p-growl>
<form class="form-horizontal" (ngSubmit)="onSubmit()" >
  <fieldset>

    <!-- Form Name -->
    <legend>Cadastro de Alunos</legend>


    <div class="card" *ngIf="getUploadSuccess()">
        
        <div class="card__avatar--temp">
            <img class="card__avatar--temp__img" [src]="aluno.foto"   >
        </div>
        
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Selecione a Foto</label>
      <div class="col-md-6">
        <!--<input type="file" class="btn-upload" ng2FileSelect [uploader]="uploader" />-->
        <input type="file" [(ngModel)]="foto" name="foto" (change)="onChange($event)" class="custom-file-input" ng2FileSelect [uploader]="uploader">
      </div>
    </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Nome do Aluno</label>
        <div class="col-md-6">
          <input [(ngModel)]="aluno.nome" name="nome" type="text" placeholder="Julio Marques" class="form-control input-md" required="">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">CPF</label>
        <div class="col-md-6">
          <input appCpf [(ngModel)]="aluno.cpf" name="cpf" type="text" placeholder="012.345.678-90"  class="form-control input-md" required="">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Identidade (RG)</label>
        <div class="col-md-6">
          <input [(ngModel)]="aluno.rg" name="rg" type="text" placeholder="000000001" class="form-control input-md" required="">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Data de Nascimento</label>
        <div class="col-md-6">
          <input [(ngModel)]="dataNascimento" name="dataNascimento" type="date" placeholder="DD/MM/AAAA" class="form-control input-md" required="">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">E-mail</label>
        <div class="col-md-6">
          <input [(ngModel)]="aluno.email" name="email" type="email" placeholder="alunoccc@ccc.com.br" class="form-control input-md" required="">
        </div>
      </div>

       <!--Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Telefone</label>
        <div class="col-md-6">
          <input appTelefone [(ngModel)]="aluno.telefone" name="telefone" type="tel"   placeholder="(21)99999-9999" class="form-control input-md" required="">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Endereço</label>
        <div class="col-md-6">
          <input [(ngModel)]="aluno.endereco" name="endereco" type="text" placeholder="rua, numero, bairro, cidade" class="form-control input-md" required="">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Número</label>
        <div class="col-md-6">
          <input [(ngModel)]="aluno.numero" name="numero" type="number" placeholder="12" class="form-control input-md" required="">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Complemento</label>
        <div class="col-md-6">
          <input [(ngModel)]="aluno.complemento" name="complemento" type="text" placeholder="bloco, apartamento, condominio" class="form-control input-md">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Profissão</label>
        <div class="col-md-6">
          <input [(ngModel)]="aluno.profissao" name="profissao" type="text" placeholder="Analista, Professor ..." class="form-control input-md" required="">
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="selectbasic">Sexo</label>
        <div class="col-md-6">
          <select [(ngModel)]="aluno.sexo" name="sexo" class="form-control" required>
            <option  value="F">Feminino</option>
            <option  value="M">Masculino</option>
      </select>
        </div>
      </div>

       <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="selectbasic">Estado Civil</label>
        <div class="col-md-6">
          <select [(ngModel)]="aluno.estadoCivil" name="estadoCivil" class="form-control" required>
        <option *ngFor="let item of listaEstadoCivil" [ngValue]="item" >{{item.nome}}</option>
      </select>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="selectbasic">Como Conheceu</label>
        <div class="col-md-6">
          <select [(ngModel)]="aluno.conheceEscola" name="conheceEscola" class="form-control" required>
        <option *ngFor="let item of listaComoConheceu" [ngValue]="item" >{{item.nome}}</option>
      </select>
        </div>
      </div>

       <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Observação</label>
        <div class="col-md-6">
          <input [(ngModel)]="aluno.observacao" name="observacao" type="text" placeholder="Observação" class="form-control input-md" >
        </div>
      </div>
      


    <!-- Button (Double) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="button1id"></label>
      <div class="col-md-8">
        <button id="button1id" name="button1id" class="btn btn-success" [disabled]="submit">Cadastrar</button>
        <button type="reset" id="button2id" name="button2id" class="btn btn-danger">Limpar Campos</button>
      </div>
    </div>

  </fieldset>
</form>