<div class="panel panel-default">
  <div class="panel-heading">Lista de Modalidades</div>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let modalidade of getModalidades()">
        <td>{{modalidade.nome}}</td>
        <td><button class="btn btn-primary" [routerLink]="['/cadastro-modalidade-turma', modalidade.id]" >Manutenção Turma</button></td>
      </tr>
    </tbody>
  </table>
</div>
</div>