<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Cadastro de Turma</legend>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Modalidade da Turma</label>
  <div class="col-md-6">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">Forro</option>
      <option value="2">Dança de Salão</option>
      <option value="3">Samba de Gafieira</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Dias das Aulas</label>  
  <div class="col-md-6">
  <input id="textinput" name="textinput" type="text" placeholder="Segunda/Quarta" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Horarios</label>  
  <div class="col-md-6">
  <input id="textinput" name="textinput" type="text" placeholder="18:30 as 19:30" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Professor 1</label>
  <div class="col-md-6">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">Laryssa França</option>
      <option value="2">Jefferson Bilisco</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Percentual do Professor 1</label>  
  <div class="col-md-6">
  <input id="textinput" name="textinput" type="text" placeholder="20%" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Professor 2</label>
  <div class="col-md-6">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">Marcos Vinicius</option>
      <option value="2">Carol Duarte</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Percentual do Professor 2</label>  
  <div class="col-md-6">
  <input id="textinput" name="textinput" type="text" placeholder="15%" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Valor da Mensalidade</label>  
  <div class="col-md-6">
  <input id="textinput" name="textinput" type="text" placeholder="R$135,00" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Numero de Vagas</label>  
  <div class="col-md-6">
  <input id="textinput" name="textinput" type="text" placeholder="15" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="button1id"></label>
  <div class="col-md-8">
    <button id="button1id" name="button1id" class="btn btn-success">Cadastrar</button>
    <button id="button2id" name="button2id" class="btn btn-danger">Limpar Campos</button>
  </div>
</div>

</fieldset>
</form>
