<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>Cadastro de Turma</legend>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="selectbasic">Modalidade da Turma</label>
      <div class="col-md-6">
        <select class="form-control">
      <option *ngFor="let tipoTurma of tipoTurmas" [value]="tipoTurma.nome"  >{{tipoTurma.nome}} - {{tipoTurma.nivel}}</option>
        </select>
      </div>
    </div>

    <!-- Multiple Checkboxes (inline) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="checkboxes">Dia das Aulas</label>
      <div class="col-md-4">
        <label *ngFor="let dia of dias" class="checkbox-inline">
          <input type="checkbox"  value="{{dia.valor}}">
            {{dia.nome}}
        </label>

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Horario Inicial</label>
      <div class="col-md-6">
        <input  type="time" placeholder="18:30 as 19:30" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="select1">Professor</label>
      <div class="col-md-6">
        <select class="form-control">
      <option *ngFor="let professor of professores" [value]="professor.nome"  >{{professor.nome}}</option>
    </select>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Percentual do Professor</label>
      <div class="col-md-6">
        <input  type="text" placeholder="20%" class="form-control input-md" required="">

      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Professora</label>
      <div class="col-md-6">
        <select class="form-control">
      <option *ngFor="let professora of professoras" [value]="professora.nome"  >{{professora.nome}}</option>
    </select>
      </div>
    </div>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Percentual da Professora</label>
      <div class="col-md-6">
        <input  type="text" placeholder="15%" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Valor da Mensalidade</label>
      <div class="col-md-6">
        <input  type="text" placeholder="R$135,00" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Numero de Vagas</label>
      <div class="col-md-6">
        <input  type="number" placeholder="15" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="selectbasic">Sala da Aula</label>
      <div class="col-md-6">
        <select class="form-control">
      <option *ngFor="let sala of salas" [value]="sala.nome"  >{{sala.nome}}</option>
    </select>
      </div>
    </div>


    <!-- Button (Double) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="button1id"></label>
      <div class="col-md-8">
        <button id="button1id" name="button1id" class="btn btn-success">Cadastrar</button>
        <button id="button2id" name="button2id" class="btn btn-danger">Limpar Campos</button>
      </div>
    </div>

  </fieldset>
</form>