<p-growl [value]="msgs"  life=6000 ></p-growl>
<form class="form-horizontal" (ngSubmit)="onSubmit()" >
<fieldset>

<!-- Form Name -->
<legend>Cadastro de Mensagem de Email</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Mensagem</label>  
  <div class="col-md-6">
  <input [(ngModel)]="mensagem.msg" id="textinput" name="textinput" type="text" placeholder="Forro, Samba, Salsa, ..." class="form-control input-md" required="">
</div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="button1id"></label>
  <div class="col-md-8">
    <button id="button1id" name="button1id" class="btn btn-success" [disabled]="submit">Cadastrar</button>
    <button type="reset" id="button2id" name="button2id" class="btn btn-danger">Limpar Campos</button>
  </div>
</div>

</fieldset>
</form>
