<div>
  <div class="card">
    <div class="card__header">
    </div>
    <div class="card__avatar">
      <img class="card__avatar__img" alt="" [src]="aluno.foto">
    </div>
    <div class="card__info">
      <div class="card__info__title">
        {{aluno.nome}}
      </div>
    </div>
  </div>
</div>

<div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" id="perfil" [ngClass]="{'btn': true, 'btn-default': !getTabAtiva(0), 'btn-primary': getTabAtiva(0)}"
      (click)="tabBios()" href="#tabBios" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <div class="hidden-xs">Perfil</div>
            </button>
  </div>

  <div class="btn-group" role="group">
    <button type="button" id="turmas" [ngClass]="{'btn': true, 'btn-default': !getTabAtiva(1), 'btn-primary': getTabAtiva(1)}"
      (click)="tabTurmas()" href="#tabTurmas" data-toggle="tab"><span class="glyphicon glyphicon-text-size" aria-hidden="true"></span>
                <div class="hidden-xs">Turmas</div>
            </button>
  </div>

  <div class="btn-group" role="group">
    <button type="button" id="debitos" [ngClass]="{'btn': true, 'btn-default': !getTabAtiva(2), 'btn-primary': getTabAtiva(2)}"
      (click)="tabDebitos()" href="#tabDebitos" data-toggle="tab"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                <div class="hidden-xs">Debitos</div>
            </button>
  </div>


</div>

<div class="well">
  <div class="tab-content">
    <div class="tab-pane active" id="tabBios">
      <div class="card__info">
        <div class="card__info__detalhes"><label>Email: </ label>{{aluno.email}}</div>
          <div class="card__info__detalhes"><label>Telefone: </label> {{aluno.telefone}}</div>
        <div class="card__info__detalhes"><label>CPF: </label> {{aluno.cpf}}</div>
        <div class="card__info__detalhes"><label>RG: </label> {{aluno.rg}}</div>
        <div class="card__info__detalhes"><label>Data Nascimento: </label> {{aluno.dataNascimento}}</div>
        <div class="card__info__detalhes"><label>Cidade: </label> {{aluno.cidade}}</div>
        <div class="card__info__detalhes"><label>Bairro: </label> {{aluno.bairro}}</div>
        <div class="card__info__detalhes"><label>Endereco: </label> {{aluno.endereco}}</div>
        <div class="card__info__detalhes"><label>Estado Civil: </label> {{aluno.estadoCivil.nome}}</div>
        <div class="card__info__detalhes"><label>Sexo: </label> {{aluno.sexo}}</div>

      </div>
    </div>

    <div class="tab-pane " id="tabTurmas">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Modalidade</th>
              <th>Nivel</th>
              <th>Sala</th>
              <th>Dia Vencimento</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let matricula of matriculas">
              <td>{{matricula.turma.codigo}}</td>
              <td>{{matricula.turma.modalidade.nome}}</td>
              <td>{{matricula.turma.nivel.nome}}</td>
              <td>{{matricula.turma.sala.nome}}</td>
              <td>{{matricula.diaVencimento}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  <div class="tab-pane " id="tabDebitos">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Modalidade</th>
              <th>Nivel</th>
              <th>Dia Vencimento</th>
              <th>Mes Referencia</th>
              <th>Mensalidade</th>
              <th>Valor para pagar</th>
              <th>Pagar</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let debito of debitos">
              <td>{{debito.turma}}</td>
              <td>{{debito.modalidadeTurma}}</td>
              <td>{{debito.nivelTurma}}</td>
              <td>{{debito.diaVencimento}}</td>
              <td>{{debito.mes}}/{{debito.ano}}</td>
              <td>{{debito.valorMensalidade}}</td>
              <td>{{debito.valorCalculado}}</td>
              <td><button class="btn btn-primary" (click)="pagarMensalidade(debito)">Pagar</button>
                  <button (click)="pagarMensalidadeCalculada(debito)" *ngIf="debito.valorCalculado != debito.valorMensalidade"  [ngClass]="{'btn': true, 
                                     'btn-success': debito.valorCalculado< debito.valorMensalidade, 
                                     'btn-danger': debito.valorCalculado> debito.valorMensalidade}">Pagar</button>
                  </td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>