<p-growl [value]="msgs" life=6000></p-growl>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
<div>
  <div class="card">
    <div class="card__header">
    </div>
    <div class="card__avatar">
      <img class="card__avatar__img" alt="" [src]="aluno.foto">
    </div>
    <div class="card__info">
      <div class="card__info__title">
        {{aluno.nome}}
      </div>
    </div>
  </div>
</div>

<div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" id="perfil" [ngClass]="{'btn': true, 'btn-default': !getTabAtiva(0), 'btn-primary': getTabAtiva(0)}"
      (click)="tab(0)" href="#tabBios" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <div class="hidden-xs">Perfil</div>
            </button>
  </div>

  <div class="btn-group" role="group">
    <button type="button" id="turmas" [ngClass]="{'btn': true, 'btn-default': !getTabAtiva(1), 'btn-primary': getTabAtiva(1)}"
      (click)="tab(1)" href="#tabTurmas" data-toggle="tab"><span class="glyphicon glyphicon-text-size" aria-hidden="true"></span>
                <div class="hidden-xs">Turmas</div>
            </button>
  </div>

  <div class="btn-group" role="group">
    <button type="button" id="debitos" [ngClass]="{'btn': true, 'btn-default': !getTabAtiva(2), 'btn-primary': getTabAtiva(2)}"
      (click)="tab(2)" href="#tabDebitos" data-toggle="tab"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                <div class="hidden-xs">Debitos</div>
            </button>
  </div>

  <div class="btn-group" role="group">
    <button type="button" id="debitos" [ngClass]="{'btn': true, 'btn-default': !getTabAtiva(3), 'btn-primary': getTabAtiva(3)}"
      (click)="tab(3)" href="#tabHistPag" data-toggle="tab"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                <div class="hidden-xs">Historico de R$</div>
            </button>
  </div>

  <div class="btn-group" role="group">
    <button type="button" id="debitos" [ngClass]="{'btn': true, 'btn-default': !getTabAtiva(4), 'btn-primary': getTabAtiva(4)}"
      (click)="tab(4)" href="#tabAlulasParticulas" data-toggle="tab"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                <div class="hidden-xs">AIS</div>
            </button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" id="debitos" [ngClass]="{'btn': true, 'btn-default': !getTabAtiva(5), 'btn-primary': getTabAtiva(5)}"
      (click)="tab(5)" href="#tabWorkShop" data-toggle="tab"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                <div class="hidden-xs">WorkShops</div>
            </button>
  </div>

<div class="btn-group" role="group">
    <button type="button" id="pagamentos" [ngClass]="{'btn': true, 'btn-default': !getTabAtiva(6), 'btn-primary': getTabAtiva(6)}"
      (click)="tab(6)" href="#tabPagamentos" data-toggle="tab"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                <div class="hidden-xs">Pagamentos</div>
            </button>
  </div>

  <div class="btn-group" role="group">
    <button type="button" id="editar" class="btn btn-default" [routerLink]="['/cadastro-aluno', aluno.id]"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                <div class="hidden-xs">Editar</div>
            </button>

            
  </div>

<div class="btn-group" role="group">
    <button type="button" id="editar" class="btn btn-danger" (click)="excluir()" ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <div class="hidden-xs">Excluir</div>
            </button>
  </div>

</div>

<div class="well">
  <div class="tab-content">

    <div class="tab-pane active" id="tabBios">
      <div class="card__info">
        <div class="card__info__detalhes"><label>Email: </label>{{aluno.email}}</div>
        <div class="card__info__detalhes"><label>Telefone: </label> {{aluno.telefone}}</div>
        <div class="card__info__detalhes"><label>CPF: </label> {{aluno.cpf}}</div>
        <div class="card__info__detalhes"><label>RG: </label> {{aluno.rg}}</div>
        <div class="card__info__detalhes"><label>Data Nascimento: </label> {{aluno.dataNascimento | date: 'dd/MM/yyyy'}}</div>
        <div class="card__info__detalhes"><label>Endereco: </label> {{aluno.endereco}}</div>
        <div class="card__info__detalhes"><label>Numero: </label> {{aluno.numero}}</div>
        <div class="card__info__detalhes"><label>Complemento: </label> {{aluno.complemento}}</div>
        <div class="card__info__detalhes"><label>Estado Civil: </label> {{aluno.nomeEstadoCivil}}</div>
        <div class="card__info__detalhes"><label>Sexo: </label> {{aluno.sexo}}</div>
        <div class="card__info__detalhes"><label>Profiss&#227;o: </label> {{aluno.profissao}}</div>
        <div class="card__info__detalhes"><label>Como Conheceu: </label> {{aluno.nomeConheceEscola}}</div>

      </div>
    </div>

    <div class="tab-pane" id="tabTurmas">
      <div class="row">
        <button class="btn btn-info pull-right" data-toggle="modal" data-target="#modalTurmas">Nova Turma</button>
      </div>
      <p>
        <div class="row">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>Codigo</th>
                  <th>Modalidade</th>
                  <th>Nivel</th>
                  <th>Data Inicio</th>
                  <th>Data Fim</th>
                  <th>Professor</th>
                  <th>Professor</th>
                  <th>Mensalidade</th>
                  <th>Data Matricula</th>
                  <th>Desconto</th>
                  <th>salvar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let matricula of matriculas">
                  <td>{{matricula.codigo}}</td>
                  <td>{{matricula.nomeModalidade}}</td>
                  <td>{{matricula.nomeNivel}}</td>
                  <td>{{matricula.dataInicio | date: 'dd/MM/yyyy'}}</td>
                  <td>{{matricula.dataFim | date: 'dd/MM/yyyy'}}</td>
                  <td>{{matricula.nomeProfessor1}}</td>
                  <td>{{matricula.nomeProfessor2}}</td>
                  <td>{{matricula.valorMensalidade | currency:'BRL':true}}</td>
                  <td>{{matricula.dataMatricula | date: 'dd/MM/yyyy'}}</td>
                  <td>
                    <select [(ngModel)]="matricula.idDesconto" name="desconto" class="form-control" required>
                            <option *ngFor="let desconto of descontos" [ngValue]="desconto.id" >{{desconto.nome}} -- {{desconto.valor}} %</option>
                    </select>
                  </td>
                  <td><button class="btn btn-info" (click)="alterarDesconto(matricula)">Salvar Desconto</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>


    <div class="tab-pane " id="tabDebitos">
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Modalidade</th>
              <th>Vencimento</th>
              <th>Mes Referencia</th>
              <th>Mensalidade</th>
              <th>Pagar com Desconto/Multa</th>
              <th>Pagar</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let debito of debitos">
              <td>{{debito.codigoTurma}}</td>
              <td>{{debito.nomeModalidade}}</td>
              <td>{{debito.dataVencimento | date: 'dd/MM/yyyy'}}</td>
              <td>{{debito.mesReferencia}}</td>
              <td>{{debito.valorMensalidade | currency:'BRL':true}}</td>
              <td>{{debito.valorCalculado | currency:'BRL':true}}</td>
              <td><button [disabled]="submit" class="btn btn-primary" (click)="pagarMensalidade(debito)">Pagar Mensalidade</button>
                <button [disabled]="submit" class="btn btn-success" (click)="pagarMensalidadeCalculada(debito)" *ngIf="debito.valorCalculado< debito.valorMensalidade">Pagar com Desconto</button>
                <button [disabled]="submit" class="btn btn-danger" (click)="pagarMensalidadeCalculada(debito)" *ngIf="debito.valorCalculado> debito.valorMensalidade">Pagar com Multa</button>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="tab-pane " id="tabPagamentos">
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Modalidade</th>
              <th>Vencimento</th>
              <th>Mes Referencia</th>
              <th>Quantidade</th>
              <th>Valor</th>
              <th>Excluir</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let debito of pagamentos.mensalidadesParaPagar;let index = index">
              <td>{{debito.codigoTurma}}</td>
              <td>{{debito.nomeModalidade}}</td>
              <td>{{debito.dataVencimento | date: 'dd/MM/yyyy'}}</td>
              <td>{{debito.mesReferencia}}</td>
              <td>1</td>
              <td>{{debito.valorCalculado | currency:'BRL':true}}</td>
              <td><button [disabled]="submit" class="btn btn-danger" (click)="cancelarPagamentoMensalidade(index)">Excluir</button>
              </td>
            </tr>
            <tr *ngFor="let aula of pagamentos.aulasParticulares;let index = index">
              <td>Aula Particular</td>
              <td>{{getModalidade(aula.idModalidade)}}</td>
              <td></td>
              <td></td>
              <td>{{aula.qtdAulas}}</td>
              <td>{{getValor(aula.valorPago) | currency:'BRL':true }}</td>
              <td><button [disabled]="submit" class="btn btn-danger" (click)="cancelarPagamentoAulaParticular(index)">Excluir</button>
              </td>
            </tr>
            <tr *ngFor="let work of pagamentos.workShop;let index = index">
              <td>WorkShop</td>
              <td>{{getModalidade(work.idModalidade)}}</td>
              <td></td>
              <td></td>
              <td>1</td>
              <td>{{work.valorMensalidade | currency:'BRL':true }}</td>
              <td><button [disabled]="submit" class="btn btn-danger" (click)="cancelarWorkShop(index)">Excluir</button>
              </td>
            </tr>
          </tbody>
          <tfoot>
              <tr class="success">
                  <td>Total</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>{{getValorTotalParaPagar() | currency:'BRL':true }}</td>
                  <td><button [disabled]="submit" class="btn btn-success" (click)="pagar()">Pagar</button>
                  </td>
                </tr>
          </tfoot>
        </table>
      </div>
    </div>



    <div class="tab-pane " id="tabHistPag">
      <div class="row">
        <div class="col-md-3">
          De: <input [(ngModel)]="dataInicio" id="de" type="month">
        </div>
        <div class="col-md-3">
          Ate: <input [(ngModel)]="dataFim" id="ate" type="month">
        </div>
        <div class="col-md-3">
          <button (click)="pesquisarHistPagamento()" class="btn btn-primary">Pesquisar</button>
        </div>
      </div>
      <p>
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Tipo Pagamento</th>
                <th>Codigo</th>
                <th>Modalidade</th>
                <th>Mes Referencia</th>
                <th>Vencimento</th>
                <th>Data Pagamento</th>
                <th>Valor Pago</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let debito of histPagamento">
                <td>{{debito.tipoPagamento}}</td>
                <td>{{debito.codigoTurma}}</td>
                <td>{{debito.nomeModalidade}}</td>
                <td>{{debito.mesReferencia}}</td>
                <td>{{debito.dataVencimento | date: 'dd/MM/yyyy'}}</td>
                <td>{{debito.dataPagamento | date: 'dd/MM/yyyy'}}</td>
                <td>{{debito.valorPago | currency:'BRL':true}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>

    <div class="tab-pane " id="tabAlulasParticulas">
      <div class="row">
        <div class="col-md-3">
          De: <input [(ngModel)]="dataInicio" id="de" type="month">
        </div>
        <div class="col-md-3">
          Ate: <input [(ngModel)]="dataFim" id="ate" type="month">
        </div>
        <div class="col-md-3">
          <button (click)="pesquisarAulasParticulares()" class="btn btn-primary">Pesquisar</button>
        </div>
        <div class="col-md-2">
          <button data-toggle="modal" data-target="#modaAulaParticular" class="btn btn-primary">Nova Aula</button>
        </div>
      </div>
      <p>
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Modalidade</th>
                <th>Professor</th>
                <th>Quantidade de Aulas</th>
                <th>Data Pagamento</th>
                <th>Valor Pago</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mensalidade of histAulaParticular">
                <td>{{mensalidade.nomeModalidade}}</td>
                <td>{{mensalidade.nomeProfessor1}}</td>
                <td>{{mensalidade.qtdAulasContratadas}}</td>
                <td>{{mensalidade.dataContratacao | date: 'dd/MM/yyyy'}}</td>
                <td>{{mensalidade.valorPago | currency:'BRL':true}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>


    <div class="tab-pane " id="tabWorkShop">
      <div class="row">
        <div class="col-md-3">
          De: <input [(ngModel)]="dataInicio" id="de" type="month">
        </div>
        <div class="col-md-3">
          Ate: <input [(ngModel)]="dataFim" id="ate" type="month">
        </div>
        <div class="col-md-3">
          <button (click)="pesquisarWorkShop()" class="btn btn-primary">Pesquisar</button>
        </div>
        <div class="col-md-2">
          <button data-toggle="modal" data-target="#modalWork" class="btn btn-primary">Nova Aula</button>
        </div>
      </div>
      <p>
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Modalidade</th>
                <th>Data Matricula</th>
                <th>Data Inicio</th>
                <th>Data Fim</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let matricula of matriculasWorkShops">
                <td>{{matricula.codigo}}</td>
                <td>{{matricula.nomeModalidade}}</td>
                <td>{{matricula.dataMatricula | date: 'dd/MM/yyyy'}}</td>
                <td>{{matricula.dataInicio | date: 'dd/MM/yyyy'}}</td>
                <td>{{matricula.dataFim | date: 'dd/MM/yyyy'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>



  </div>
</div>



<!-- Modal Aula Particular -->


<div class="modal fade bs-example-modal-lg" id="modaAulaParticular" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">Cadastrar Aula Particular </h4>
      </div>
      <div class="modal-body">

        <form class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <label class="col-md-4 control-label" for="selectbasic">Modalidade</label>
              <div class="col-md-6">
                <select [(ngModel)]="aula.idModalidade" name="modalidade" class="form-control" required>
                  <option *ngFor="let item of modalidades" [ngValue]="item.id"  >{{item.nome}}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="select1">Professor</label>
              <div class="col-md-6">
                <select [(ngModel)]="aula.idProfessor1" name="professor1" class="form-control" required>
                  <option *ngFor="let professor of professores" [ngValue]="professor.id"  >{{professor.nome}}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Percentual do Professor</label>
              <div class="col-md-6">
                <input appNumeroInteiro [(ngModel)]="aula.percentualProfessor1" name="percentual1" type="number" min="0" max="100" placeholder="20%"
                  required class="form-control input-md">

              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Quatidade de Aulas</label>
              <div class="col-md-6">
                <input [(ngModel)]="aula.qtdAulas" name="qtd" type="number" placeholder="10" step="1" min="1" class="form-control input-md"
                  required="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Valor </label>
              <div class="col-md-6">
                <input appValor [(ngModel)]="aula.valorPago" name="mensalidade" type="text" placeholder="R$135,00" class="form-control input-md"
                  required="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="button1id"></label>
              <div class="col-md-8">
                <button data-dismiss="modal" id="button1id" name="button1id" class="btn btn-success" [disabled]="submit" type="button" (click)="cadastrarAulaParticular()">Cadastrar</button>
                <button data-dismiss="modal" id="button2id" name="button2id" class="btn btn-danger" [disabled]="submit">Cancelar</button>
              </div>
            </div>
          </fieldset>
        </form>

      </div>

    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="modalTurmas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" style="width:90%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">Turmas</h4>
      </div>
      <div class="modal-body">

        <div class="panel panel-default">
  <div class="panel-heading">Filtros</div>
  <div class="panel-body">

  <div class="col-md-3">
      <label class="control-label" for="textinput">Modalidades</label>
      <select [(ngModel)]="modalidadeSelecionado" name="modalidade" class="form-control">
      <option *ngFor="let item of modalidades" [ngValue]="item">{{item.nome}}</option>
        </select>
    </div>

    <div class="col-md-3">
      <label class="control-label" for="textinput">Niveis</label>
      <select [(ngModel)]="nivelSelecionado" name="nivel" class="form-control">
      <option  *ngFor="let item of niveis" [ngValue]="item">{{item.nome}}</option>
        </select>
    </div>


  </div>
</div>

        <div class="table-responsive">
          <table class="table table-bordered table-striped ">
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Modalidade</th>
                <th>Nivel</th>
                <th>Horario</th>
                <th>Qtd Cavalheiros</th>
                <th>Qtd Damas</th>
                <th>Professor</th>
                <th>Professor</th>
                <th>Mensalidade</th>
                <th>N&#186; Vagas</th>

                <th>A&#231;&#227;o</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let turma of getTurmas()">
                <td>{{turma.codigo}}</td>
                <td>{{turma.nomeModalidade}}</td>
                <td>{{turma.nomeNivel}}</td>
                <td>{{turma.horarioInicial}} - {{turma.horarioFinal}}</td>
                <td>{{turma.qtdAlunos}}</td>
                <td>{{turma.qtdAlunas}}</td>
                <td>{{turma.nomeProfessor1}}</td>
                <td>{{turma.nomeProfessor2}}</td>
                <td>{{turma.valorMensalidade | currency:'BRL':true}}</td>
                <td>{{turma.qtdVagas}}</td>
                <td><button data-dismiss="modal" class="btn btn-default" data-toggle="modal" data-target="#modalMatricular" (click)="matricula.idTurma= turma.id">Matricular</button>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>
</div>



<div class="modal fade bs-example-modal-lg" id="modalMatricular" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">Matricular Aluno </h4>
      </div>
      <div class="modal-body">

        <form class="form-horizontal">
          <fieldset>

            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Valor Matricula</label>
              <div class="col-md-6">
                <input appValor [(ngModel)]="matricula.valor" name="valor" type="text" placeholder="100,00" class="form-control input-md"
                  required="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="select1">Dia Vencimento</label>
              <div class="col-md-6">
                <input [(ngModel)]="matricula.diaVencimento" name="valor" type="number" min="1" max="31" placeholder="10" class="form-control input-md"
                  required="">
              </div>
            </div>


            <div class="form-group">
              <label class="col-md-4 control-label" for="select1">Desconto</label>
              <div class="col-md-6">
                <select [(ngModel)]="matricula.idDesconto" name="desconto" class="form-control" required>
                            <option *ngFor="let desconto of descontos" [ngValue]="desconto.id" >{{desconto.nome}} -- {{desconto.valor}} %</option>
              </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="select1">Data Matricula</label>
              <div class="col-md-6">
                <input [(ngModel)]="matricula.dataMatricula" name="valor" type="date"  class="form-control input-md"
                  required>
              </div>
            </div>


            <div class="form-group">
              <label class="col-md-4 control-label" for="button1id"></label>
              <div class="col-md-8">
                <button data-dismiss="modal" id="button1id" name="button1id" class="btn btn-success" [disabled]="submit" type="button" (click)="matricular()">Cadastrar</button>
                <button data-dismiss="modal" id="button2id" name="button2id" class="btn btn-danger" [disabled]="submit">Cancelar</button>
              </div>
            </div>


          </fieldset>
        </form>

      </div>

    </div>
  </div>
</div>




<div class="modal fade bs-example-modal-lg" id="modalWork" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" style="width:90%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">WorkShops</h4>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped ">
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Modalidade</th>
                <th>Horario</th>
                <th>Professor</th>
                <th>Professor</th>
                <th>Valor</th>
                <th>N&#186; Vagas</th>
                <th>A&#231;&#227;o</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let turma of workShops">
                <td>{{turma.codigo}}</td>
                <td>{{turma.nomeModalidade}}</td>
                <td>{{turma.horarioInicial}} - {{turma.horarioFinal}}</td>
                <td>{{turma.nomeProfessor1}}</td>
                <td>{{turma.nomeProfessor2}}</td>
                <td>{{turma.valorMensalidade | currency:'BRL':true}}</td>
                <td>{{turma.qtdVagas}}</td>
                <td><button data-dismiss="modal" class="btn btn-default" (click)="matricularWork(turma)">Matricular</button>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>
</div>



