<p-growl [value]="msgs"  life=6000 ></p-growl>
<form class="form-horizontal" (ngSubmit)="onSubmit()" >
<fieldset>

<!-- Form Name -->
<legend>Cadastro de Fluxo de Caixa</legend>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Tipo Fluxo</label>
  <div class="col-md-6">  
    <select [(ngModel)]="fluxoCaixa.tipo" (change)="atualizarTipoFluxo(fluxoCaixa.tipo)" name="indEntrada"  class="form-control" required>
      <option value="E">Entrada</option>
      <option value="S">Saida</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group" *ngIf="fluxoCaixa.tipo" >
  <label class="col-md-4 control-label" for="selectbasic">Nome Fluxo</label>
  <div class="col-md-6">
    <select [(ngModel)]="fluxoCaixa.idTipo" name="tipoFluxo" class="form-control" required="">
      <option *ngFor="let fluxo of getFluxos()" [ngValue]="fluxo.id">{{fluxo.nome}}</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Descricao</label>  
  <div class="col-md-6">
  <input [(ngModel)]="fluxoCaixa.descricao" name="descricao" type="text" placeholder="Descricao" class="form-control input-md" >
  </div>
</div>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Data</label>  
  <div class="col-md-6">
  <input [(ngModel)]="fluxoCaixa.data" name="dataFluxo" type="date" placeholder="01/01/2017" class="form-control input-md" required="">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Valor</label>  
  <div class="col-md-6">
  <input appValor [(ngModel)]="fluxoCaixa.valor" name="valorFluxo" type="text" placeholder="R$1000,00"  class="form-control input-md" required="">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Quantidade</label>  
  <div class="col-md-6">
  <input [(ngModel)]="fluxoCaixa.qtd" name="quantidade" type="number" min="1" placeholder="R$1000,00"  class="form-control input-md" >
  </div>
</div>

<!-- Text Area-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Observa&#231;&#227;o</label>
      <div class="col-md-6">
        <textarea [(ngModel)]="fluxoCaixa.observacao" name="observacao" class="form-control" ></textarea>
      </div>
    </div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="button1id"></label>
  <div class="col-md-8">
    <button id="button1id" name="button1id" class="btn btn-success" [disabled]="submit">Cadastrar</button>
    <button type="reset" id="button2id" name="button2id" class="btn btn-danger">Limpar Campos</button>
  </div>
</div>

</fieldset>
</form>
