<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Cadastro de Fluxo de Caixa</legend>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Tipo Fluxo</label>
  <div class="col-md-6">
    <select class="form-control">
      <option value="E">Entrada</option>
      <option value="S">Saida</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Nome Fluxo</label>
  <div class="col-md-6">
    <select class="form-control">
      <option *ngFor="let fluxo of fluxos">{{fluxo.nome}}</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Data</label>  
  <div class="col-md-6">
  <input type="date" placeholder="01/01/2017" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Valor</label>  
  <div class="col-md-6">
  <input type="number" placeholder="R$1000,00" step="0.01" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="button1id"></label>
  <div class="col-md-8">
    <button id="button1id" name="button1id" class="btn btn-success">Cadastrar</button>
    <button id="button2id" name="button2id" class="btn btn-danger">Limpar Campos</button>
  </div>
</div>

</fieldset>
</form>
