<form class="form-horizontal" (ngSubmit)="onSubmit()" >
<fieldset>

<!-- Form Name -->
<legend>Cadastro de Tipos de Descontos</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Nome do Tipo de Desconto</label>  
  <div class="col-md-6">
  <input [(ngModel)]="desconto.nome" id="textinput" name="textinput" type="text" placeholder="Petrobras, Bolsista, Cetip, ..." class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Percentual de Desconto</label>  
  <div class="col-md-6">
  <input [(ngModel)]="desconto.percentual" id="textinput" name="textinput" type="text" placeholder="10, 50, 100, ..." class="form-control input-md" required="">
    
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="button1id"></label>
  <div class="col-md-8">
    <button id="button1id" name="button1id" class="btn btn-success">Cadastrar</button>
    <button id="button2id" name="button2id" class="btn btn-danger">Limpar Campos</button>
  </div>
</div>

</fieldset>
</form>
