<p-growl [value]="msgs" life=6000></p-growl>
<div class="panel panel-default">
    <div class="panel-heading">Dados da Turma</div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped ">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Modalidade</th>
                    <th>Nivel</th>
                    <th>Horario</th>
                    <th>Qtd Cavalheiros</th>
                    <th>Qtd Damas</th>
                    <th>Professor</th>
                    <th>Professor</th>
                    <th>Mensalidade</th>
                    <th>Nº Vagas</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{turma.codigo}}</td>
                    <td>{{turma.modalidade.nome}}</td>
                    <td>{{turma.nivel.nome}}</td>
                    <td>{{turma.horarioInicial}} - {{turma.horarioFinal}}</td>
                    <td>{{turma.qtdAlunos}}</td>
                    <td>{{turma.qtdAlunas}}</td>
                    <td>{{turma?.professor1?.nome}}</td>
                    <td>{{turma?.professor2?.nome}}</td>
                    <td>{{turma.mensalidade | currency:'BRL':true}}</td>
                    <td>{{turma.vagas}}</td>
                    <td><button class="btn btn-primary" [routerLink]="['/cadastro-turma', turma.id]">Editar</button>
                        <button class="btn btn-danger" (click)="encerrar()">Finalizar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Filtro Alunos Novos</div>
    <div class="panel-body">
        <form class="form-inline" (ngSubmit)="pesquisarAlunos()">
            <div class="form-group">
                <label>Nome</label>
                <input [(ngModel)]="pesquisa.nome" type="text" class="form-control" name="Nome" placeholder="João">
            </div>

            <div class="form-group">
                <label>Email</label>
                <input [(ngModel)]="pesquisa.email" type="text" class="form-control" name="email" placeholder="joao@gmail.com">
            </div>

            <div class="form-group">
                <label>CPF</label>
                <input [(ngModel)]="pesquisa.cpf" type="text" class="form-control" name="cpf" placeholder="999.999.999-00">
            </div>

            <div class="form-group">
                <button class="btn btn-primary">Pesquisar </button>
            </div>

        </form>
        <p>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CPF</th>
                            <!--<th>RG</th>-->
                            <th>Data Nascimento</th>
                            <th>Email</th>
                            <th>Telefone</th>
                            <th>Data Vencimento</th>
                            <th>Valor Matricula</th>
                            <th>Desconto</th>
                            <th>Matricular</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let aluno of alunos">
                            <td>{{aluno.nome}}</td>
                            <td>{{aluno.cpf}}</td>
                            <!--<td>{{aluno.rg}}</td>-->
                            <td> {{aluno.dataNascimento | date: 'dd/MM/yyyy'}}</td>
                            <td>{{aluno.email}}</td>
                            <td>{{aluno.telefone}}</td>
                            <td><input [(ngModel)]="diaVencimento[aluno.id]" type="number" step="1" min="1" max="31" class="form-control input-md"></td>
                            <td><input appValor [(ngModel)]="valorMatricula[aluno.id]" type="text" class="form-control input-md"></td>
                            <td><select [(ngModel)]="desconto[aluno.id]" name="desconto" class="form-control" required>
                            <option *ngFor="let desconto of descontos" [ngValue]="desconto" >{{desconto.nome}} -- {{desconto.valor}} %</option>
      </select></td>
                            <td><button [disabled]="submit" class="btn btn-primary" (click)="matricular(aluno,desconto[aluno.id], diaVencimento[aluno.id], valorMatricula[aluno.id])">Matricular</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">Alunos Matriculados</div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>RG</th>
                    <th>Data Nascimento</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Dia Vencimento</th>
                    <th>Desconto %</th>
                    <th>Excluir Aluno</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of matriculas">
                    <td>{{item.aluno.nome}}</td>
                    <td>{{item.aluno.cpf}}</td>
                    <td>{{item.aluno.rg}}</td>
                    <td>{{item.aluno.dataNascimento | date: 'dd/MM/yyyy'}}</td>
                    <td>{{item.aluno.email}}</td>
                    <td>{{item.aluno.telefone}}</td>
                    <td>{{item.diaVencimento}}</td>
                    <td><select [(ngModel)]="item.desconto" name="desconto" class="form-control" required>
                            <option *ngFor="let desconto of descontos" [ngValue]="desconto" >{{desconto.nome}} -- {{desconto.valor}} %</option>
      </select></td>
                    
                    <td><button [disabled]="submit" class="btn btn-primary" (click)="excluirAluno(item)">Excluir</button>
                    <button [disabled]="submit" class="btn btn-primary" (click)="atualizarDesconto(item)">Alterar Desconto</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>