<p-growl [value]="msgs" life=6000></p-growl>
<div class="panel panel-default">
  <div class="panel-heading">Filtros</div>
  <div class="panel-body">
    
    <div class="col-md-3">
      <label class="control-label" for="textinput">Modalidades</label>
      <select [(ngModel)]="modalidadeSelecionado" name="modalidade" class="form-control">
        <option *ngFor="let item of modalidades" [ngValue]="item">{{item.nome}}</option>
      </select>
    </div>
    
    <div class="col-md-3">
      <label class="control-label" for="textinput">Niveis</label>
      <select [(ngModel)]="nivelSelecionado" name="nivel" class="form-control">
        <option  *ngFor="let item of niveis" [ngValue]="item">{{item.nome}}</option>
      </select>
    </div>
    <div class="col-md-3">
      <label class="control-label" for="textinput">Professor</label>
      <input [(ngModel)]="nomeProfessorSelecionado" name="nomeprofessor" class="form-control">
    </div>
    
  </div>
</div>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Lista de Turmas</div>
  <div class="table-responsive">
    <!-- Table -->
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Modalidade</th>
          <th>Nivel</th>
          <th>Data Inicio</th>
          <th>Data Fim</th>
          <th>Qtd Cavalheiros</th>
          <th>Qtd Damas</th>
          <th>Professor</th>
          <th>Professor</th>
          <th>Mensalidade</th>
          <th>N&#186; Vagas</th>
          <th>Valoro total em matriculas</th>
          <th>Valoro total em mensalidades</th>
          <th>Alunos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turma of getTurmas()">
          <td>{{turma.codigo}}</td>
          <td>{{turma.nomeModalidade}}</td>
          <td>{{turma.nomeNivel}}</td>
          <td>{{turma.dataInicio | date: 'dd/MM/yyyy'}}</td>
          <td>{{turma.dataTermino | date: 'dd/MM/yyyy'}}</td>
          <td>{{turma.qtdAlunos}}</td>
          <td>{{turma.qtdAlunas}}</td>
          <td>{{turma.nomeProfessor1}}</td>
          <td>{{turma.nomeProfessor2}}</td>
          <td>{{turma.valorMensalidade | currency:'BRL':true}}</td>
          <td>{{turma.qtdVagas - turma.qtdAlunas - turma.qtdAlunos}}</td>
          <td>{{turma.valorTotalMatriculas | currency:'BRL':true}}</td>
          <td>{{turma.valorTotalMensalidades | currency:'BRL':true}}</td>
          <td>
            <button class="btn btn-primary" (click)="getAlunos(turma.id)" data-toggle="modal" data-target="#modalAluno"  >Alunos</button>
          </td>
          
          
        </tr>
      </tbody>
    </table>
  </div>
</div>




<div class="modal fade bs-example-modal-lg" id="modalAluno" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" style="width:90%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">Alunos - {{getTurmaSelecionada().codigo}} - {{getTurmaSelecionada().nomeModalidade}}</h4>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped ">
            <thead>
              <tr>
                <th>Nome Aluno</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Nome Desconto</th>
                <th>Valor Desconto</th>
                <th>Data Matricula</th>
                <th>Valor Matricula</th>
                <th>Data Saida</th>
                <th>Valor Total Pago</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let aluno of alunos" >
                <td>{{aluno.nome}}</td>
                <td>{{aluno.cpf}}</td>
                <td>{{aluno.email}} </td>
                <td>{{aluno.nomeDesconto}}</td>
                <td>{{aluno.valorDesconto}}</td>
                <td>{{aluno.dataMatricula | date: 'dd/MM/yyyy'}}</td>
                <td>{{aluno.valorMatricula | currency:'BRL':true}}</td>
                <td>{{aluno.dataSaida | date: 'dd/MM/yyyy'}}</td>
                <td>{{aluno.valorTotalMensalidade | currency:'BRL':true}}</td>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>